//
// Extra styling for schema page Browse tab
//

div#browseTab {

  i.glyphicon-folder-open {
    color: #eee7b3;
  }

  ul.breadcrumb {
    border: none;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0 0;
  }

}