//
// Extra styling for schema page Browse tab
//

div#browseTab {

  i.fa:hover {
    color: #79a736;
  }

  i.fa-folder-open {
    color: #eee7b3;
  }

  i.fa-plus-square {
    color: #93c63b;
  }

  ul.breadcrumb {
    border: none;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0 0;
  }

}