<!-- Browse tab panel of the Schema page -->

<div class="tab-pane active" id="focusedElementTab">
    {{#with browsedElementHolder}}

        <!-- {{browsedElementHolder.revision}} -->
        Browse Tab ...
        [{{browsedElementHolder.revision}}] ...

        {{#if element}}

            <!-- TODO: different children depending on what's selected -->
            <h4>Sub-Packages</h4>
            {{#each element.childPackages}}
                <grestler-element-link element="{{.}}" targetElementName="schemaPageBrowsedElement"></grestler-element-link>
                <br>
            {{/each}}

        {{/if}}

    {{/with}}
</div>
