{{#with browsedElementHolder}}

{{! Breadcrumbs for focused element }}
    <ul class="breadcrumb">

        {{#if element}}

            {{#each element.parentsInPath}}

                <li>
                    <grestler-element-link element="{{.}}"
                                           targetElementName="schemaPageBrowsedElement"></grestler-element-link>
                </li>

            {{/each}}

            <li>
                <div class="element-icon {{element.typeName}}"></div>
                {{element.name}}
            </li>

        {{/if}}

    </ul>

{{/with}}
