{{! Browse tab panel of the Schema page }}

<div class="tab-pane active" id="browseTab">

    {{! Breadcrumbs for browsed element }}
    {{#with browsedElementHolder}}

        <ul class="breadcrumb">

            {{#if element}}

                {{#each element.parentsInPath}}

                    <li>
                        <grestler-element-link element="{{.}}"
                                               targetElementName="schemaPageBrowsedElement"></grestler-element-link>
                    </li>

                {{/each}}

                <li>
                    <div class="element-icon {{element.typeName}}"></div>
                    {{element.name}}
                </li>

            {{/if}}

        </ul>

    {{/with}}


    {{!-- Properties --}}
    <grestler-properties-panel></grestler-properties-panel>


    {{! Sub-elements of the browsed element }}
    {{#with browseTabEntries}}

        {{#each browseSections}}

            <table class="table table-condensed table-hover">

                <thead>
                    <tr>
                        <th>
                            {{title}}
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>

                <tbody>

                    {{!-- Existing elements --}}
                    {{#each elements}}
                        <tr>
                            <td>
                                <grestler-element-link element="{{.}}"
                                                       targetElementName="schemaPageBrowsedElement"></grestler-element-link>
                            </td>
                            <td>

                            </td>
                            <td>
                                <grestler-element-link element="{{.}}"
                                                       targetElementName="schemaPageBrowsedElement"
                                                       text="{{openIconText}}"></grestler-element-link>
                            </td>
                        </tr>
                    {{/each}}

                    {{!-- Add links --}}
                    {{#each addLinks}}
                        <tr>
                            <td></td>
                            <td>
                                {{text}}
                            </td>
                            <td>
                                <a class="element-link add {{cls}}" href="#" on-click="addClicked">
                                    {{{addIconText}}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}

                </tbody>

            </table>


        {{/each}}

    {{/with}}

</div>
