
{{! Properties tab panel of the Schema page }}

<div class="tab-pane active" id="propertiesTab">

    {{#with propertiesTabFields}}

        {{#each fields}}

            <label for="field-{{name}}">{{label}}:</label>
            <br>
            <input id="field-{{name}}" type="{{type}}" name="{{name}}" value="{{element.name}}">

        {{/each}}

    {{/with}}

</div>
