{{! Properties tab panel of the Schema page }}

<div class="tab-pane active" id="propertiesTab">

    {{#with propertiesTabFields}}

        {{#each fields}}

            <label for="field-{{name}}">{{label}}:</label>

            <br>

            {{#if isText}}
                <input id="field-{{name}}" type="text" name="{{name}}" on-change="textChanged" value="{{value}}">
            {{/if}}

            {{#if isRadioGroup}}
                {{#each radioButtons:index}}
                    <label for="field-{{name}}-{{index}}">
                        <input id="field-{{name}}-{{index}}" type="radio" name="{{name}}" on-change="radioChanged" checked="{{checked}}" value="{{value}}">
                        {{label}}
                    </label>
                {{/each}}
            {{/if}}

            <br>

        {{/each}}

    {{/with}}

</div>
