{{! Left and Right tabs for the Schema page }}

<section class="schema-page" id="schema-page-id">

    {{! Breadcrumbs for focused element }}
    <grestler-browse-breadcrumbs></grestler-browse-breadcrumbs>

    {{! Left Tabs }}
    {{#with leftTabVisibilities}}
        <div class="col-xs-6">

            {{! Left tabs }}
            <div class="left-tabs-container">
                <ul class="nav nav-tabs tabs-left sideways">
                    <li class="{{#if isBrowseTabActive}}active{{/if}} first">
                        <a href="#" on-click="browseTabClicked">BROWSE</a>
                    </li>
                    <li {{#if isSearchTabActive}}class="active"{{/if}}>
                        <a href="#" on-click="searchTabClicked">SEARCH</a>
                    </li>
                    <li {{#if isRecentTabActive}}class="active"{{/if}}>
                        <a href="#" on-click="recentTabClicked">RECENT</a>
                    </li>
                    <li {{#if isBookmarksTabActive}}class="active"{{/if}}>
                        <a href="#" on-click="bookmarksTabClicked">BOOKMARKS</a>
                    </li>
                </ul>
            </div>

            {{! Left panel contents }}
            <div class="left-panels-container">
                <div class="tab-content">
                    {{#if isBrowseTabActive}}
                        <grestler-browse-tab></grestler-browse-tab>
                    {{/if}}
                    {{#if isSearchTabActive}}
                        <div class="tab-pane active" id="foundElementsTab">Search results ...</div>
                    {{/if}}
                    {{#if isRecentTabActive}}
                        <div class="tab-pane active" id="recentElementsTab">Recently viewed elements ...</div>
                    {{/if}}
                    {{#if isBookmarksTabActive}}
                        <div class="tab-pane active" id="bookmarkedElementsTab">Bookmarked elements ...</div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/with}}

    {{! Right Tabs }}
    {{#with rightTabVisibilities}}
        <div class="col-xs-6">

            {{! Right tabs }}
            <div class="right-tabs-container">
                <ul class="nav nav-tabs">
                    <li class="{{#if isPropertiesTabActive}}active {{/if}}first">
                        <a href="#" on-click="propertiesTabClicked">PROPERTIES</a>
                    </li>
                    <li {{#if isDocumentationTabActive}}class="active"{{/if}}>
                        <a href="#" on-click="documentationTabClicked">DOCUMENTATION</a>
                    </li>
                    <li {{#if isDiagramsTabActive}}class="active"{{/if}}>
                        <a href="#" on-click="diagramsTabClicked">DIAGRAMS</a>
                    </li>
                </ul>
            </div>

            {{! Right panel contents }}
            <div class="right-panels-container">
                <div class="tab-content">
                    {{#if isPropertiesTabActive}}
                        <div class="tab-pane active" id="propertiesTab">Properties ...</div>
                    {{/if}}
                    {{#if isDocumentationTabActive}}
                        <div class="tab-pane active" id="documentationTab">Documentation ...</div>
                    {{/if}}
                    {{#if isDiagramsTabActive}}
                        <div class="tab-pane active" id="diagramsTab">Diagrams ...</div>
                    {{/if}}
                </div>
            </div>

        </div>
    {{/with}}

</section>