{{! An element link }}

<a class="element-link" href="#" on-click="linkClicked">
    {{#if isIconShown}}
        <div class="element-icon {{elementHandle.element.typeName}}"></div>
    {{/if}}
    {{{text}}}
</a>

