{{! An element link }}

{{#with elementHandle}}

    <a class="element-link" href="#" on-click="linkClicked">
        {{#if element.name}}
            <div class="element-icon {{element.typeName}}"></div>
            {{element.name}}
        {{/if}}
    </a>

{{/with}}
