
// Reference: http://getbootstrap.com/customize/#less-variables

// Color definitions
$pale_background: #fefbf3;

// Color Overrides
$nav-tabs-active-link-hover-bg: $pale_background;

// Bootswatch Sandstone variations
.sandstone {
  font-size: 14px;
  text-transform: none;
}

// Element links
a.elementlink {
  color: $gray-dark;
}

// Tab panes
div.tab-content {
  background-color: $pale_background;
  padding: 2px;
}

// Bread crumbs
ul.breadcrumb {
  background-color: $pale_background;
}
