
<!-- Left and Right tabs for the Schema page -->

<div class="col-xs-6">

    <!-- Left tabs -->
    <div style="float:left">
        <ul class="nav nav-tabs tabs-left sideways">
            <li class="active"><a href="#focusedElementTab" data-toggle="tab">BROWSE</a></li>
            <li><a href="#foundElementsTab" data-toggle="tab">SEARCH</a></li>
            <li><a href="#recentElementsTab" data-toggle="tab">RECENT</a></li>
            <li><a href="#bookmarkedElementsTab" data-toggle="tab">BOOKMARKS</a></li>
        </ul>
    </div>

    <!-- Left panel contents -->
    <div style="float:left">
        <div class="tab-content">
            <div class="tab-pane active" id="focusedElementTab">
                <ul class="breadcrumb">
                    <li><a href="javascript:void(0)">$</a></li>
                    <li><a href="javascript:void(0)">package1</a></li>
                    <li><a href="javascript:void(0)">package1a</a></li>
                    <li><a href="javascript:void(0)">edgeTypeA</a></li>
                    <li><a href="javascript:void(0)">attributeAx</a></li>
                </ul>
                Browse ...
            </div>
            <div class="tab-pane" id="foundElementsTab">Search results ...</div>
            <div class="tab-pane" id="recentElementsTab">Recently viewed elements ...</div>
            <div class="tab-pane" id="bookmarkedElementsTab">Bookmarked elements ...</div>
        </div>
    </div>
</div>

<div class="col-xs-6">

    <!-- Right tabs -->
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#propertiesTab" data-toggle="tab">PROPERTIES</a></li>
            <li><a href="#documentationTab" data-toggle="tab">DOCUMENTATION</a></li>
            <li><a href="#diagramsTab" data-toggle="tab">DIAGRAMS</a></li>
        </ul>
    </div>

    <!-- Right panel contents -->
    <div>
        <div class="tab-content">
            <div class="tab-pane active" id="propertiesTab">Properties ...</div>
            <div class="tab-pane" id="documentationTab">Documentation ...</div>
            <div class="tab-pane" id="diagramsTab">Diagrams ...</div>
        </div>
    </div>

</div>
